.ant-menu {
    background-color: black !important;
    border: 0 !important;
}

.ant-menu-item {
    height: 50px !important;
    padding-left: 12px !important;
    background-color: black !important;
    border-radius: 999px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.ant-menu-item-active {
    background-color: rgb(231, 233, 234, 0.1) !important;
}

.ant-menu-item-selected {
    font-weight: 700;
}

.ant-menu-title-content {
    font-size: 20px;
    color: rgb(231, 233, 234);
}

.ant-popover-arrow::after {
    background-color: black !important;
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 15px, rgba(255, 255, 255, 0.15) 0 0 3px 1px !important;
}

.ant-popover-content {
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 15px, rgba(255, 255, 255, 0.15) 0 0 3px 1px;
}

.ant-popover-inner {
    background-color: black !important;
}

.sidebar img {
    width: 50px;
    height: 40px;
    position: absolute;
    left: 0;
}

.sidebar svg {
    width: 26px;
    height: 26px;
    color: rgb(231, 233, 234);
    margin-right: 15px;
}

.sidebar {
    position: absolute;
    width: 260px;
    right: 8px;
    height: 100vh;
}

.stroked svg {
    stroke-width: 3;
}

.tweet-button {
    width: 233px;
    height: 50px;
    transition: none;
    margin-top: 14px;
    margin-left: 4px;
}

.tweet-button-small {
    display: none;
}

.avatar-menu {
    position: absolute;
    bottom: 0;
    margin-bottom: 4px;
    width: 100%;
}

.avatar-menu--item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2px;
}

.avatar-menu--username {
    display: flex;
    flex-direction: column;
}

.avatar-item {
    height: 65px !important;
}

.avatar-popover {
    display: flex;
    flex-direction: column;
}

.avatar-popover--item {
    padding: 12px 4px;
}

.avatar-popover--item:hover {
    background-color: rgb(22, 24, 28);
    cursor: pointer;
}

.mobile-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52px;
}

.mobile-navbar svg {
    width: 26px;
    height: 26px;
    color: rgb(231, 233, 234);
    margin-right: 15px;
}

.mobile-navbar li {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

@media (max-width: 1200px) {
    .sidebar {
        padding-top: 8px;
        width: 80px;
    }

    .tweet-button {
        display: none;
    }

    .tweet-button-small {
        display: initial;
        width: 50px !important;
        height: 50px;
        transition: none;
        margin-top: 14px;
        margin-left: 4px;
    }

    .tweet-button-small svg {
        position: absolute;
        top: 10px;
        left: 12px;
    }

    .avatar-menu {
        bottom: 12px;
    }

    .avatar-item {
        height: 40px !important;
    }

    .ant-menu-item {
        width: 50px !important;
    }
}
