@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff) format('woff');
    font-weight: 600;
}

.verdana {
    font-family: Verdana, sans-serif;
}

/* Variables */
:root {
    --color-primary: rgb(29, 155, 240);
    --color-secondary: rgb(113, 118, 123);
}

/* Classes */

.w-300px {
    width: 300px;
}

.cursor-block {
    cursor: not-allowed !important;
}

/* Custom colors */
.color-primary {
    color: var(--color-primary) !important;
}

.color-secondary {
    color: var(--color-secondary) !important;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.divider-color {
    border-color: rgb(51, 54, 57);
}

.google-color {
    color: rgb(60, 64, 67);
}

/* Buttons Hovers */

.btn-white-hover:hover {
    background-color: rgb(215, 219, 220);
    border-color: rgb(83, 100, 113) !important;
}

.btn-primary-hover:hover {
    background-color: rgb(26, 140, 216) !important;
    border-color: #424242 !important;
}

.btn-black {
    background-color: black;
    border: 1px solid rgb(83, 100, 113) !important;
}

.btn-black:hover {
    background-color: rgba(239, 243, 244, 0.1);
}

.btn-login:hover {
    background-color: rgba(29, 155, 240, 0.1);
}

/* Mobile */
.sm-show {
    display: none;
}

@media (max-width: 500px) {
    .sm-hidden {
        display: none !important;
    }

    .ml-0__sm {
        margin-left: 0 !important;
    }

    .sm-show {
        display: block;
    }
}

@media (max-height: 800px) {
    .sm-hidden {
        display: none !important;
    }

    .ml-0__sm {
        margin-left: 0 !important;
    }

    .sm-show {
        display: block;
    }
}