@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff) format('woff');
    font-weight: 600;
}

.verdana {
    font-family: Verdana, sans-serif;
}

/* Variables */
:root {
    --color-primary: rgb(29, 155, 240);
}

/* Classes */

.placeholder-focus:focus::placeholder {
    color: var(--color-primary);
    transition: font-size 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    position: absolute;
    top: 0;
}

.placeholder-focus input:focus::placeholder {
    color: var(--color-primary);
    transition: font-size 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    position: absolute;
    top: 0;
}

.sidebar {
    position: absolute;
    width: 260px;
    right: 8px;
    height: 100vh;
}

.sidebar img {
    width: 50px;
    height: 40px;
    position: absolute;
    left: 0;
}

.sidebar svg {
    width: 26px;
    height: 26px;
    color: rgb(231, 233, 234);
    margin-right: 15px;
}

.mobile-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 132px;
}

.mobile-navbar svg {
    width: 26px;
    height: 26px;
    color: rgb(231, 233, 234);
    margin-right: 15px;
}

.mobile-navbar li {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.stroked svg {
    stroke-width: 3;
}

button.bg-white {
    border-color: rgb(83, 100, 113) !important;
}

button.bg-primary {
    border-color: #424242 !important;
}

button.bg-black {
    border: 1px solid rgb(83, 100, 113) !important;
}

@media (max-width: 1200px) {
    .sidebar {
        padding-top: 8px;
        width: 80px;
    }
}