@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff) format('woff');
    font-weight: 600;
}

.verdana {
    font-family: Verdana, sans-serif;
}

/* Variables */
:root {
    --color-primary: rgb(29, 155, 240);
    --color-secondary: rgb(113, 118, 123);
    --color-white-light: rgb(231, 233, 234);
    --color-gray: rgb(51, 54, 57);
    --color-bg-mask: rgba(91, 112, 131, 0.4);
    --color-google: rgb(60, 64, 67);
    --color-hover-popover: rgb(22, 24, 28);
    --color-hover-black: rgba(239, 243, 244, 0.1);
    --color-hover-login: rgba(29, 155, 240, 0.1);
    --color-hover-primary: rgb(26, 140, 216);
    --color-hover-white: rgb(215, 219, 220);
    --color-hover-menu-item: rgb(231, 233, 234, 0.1);
    --color-border: rgb(47, 51, 54);
    /* these colors prevent an awful effect when hovering a button, I just pick random colors */
    --color-button-border-primary: #424242;
    --color-button-border: rgb(83, 100, 113);
}

/* Input placeholder focus */
.placeholder-focus:focus::placeholder {
    color: var(--color-primary);
    transition: font-size 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    position: absolute;
    top: 0;
}

.placeholder-focus input:focus::placeholder {
    color: var(--color-primary);
    transition: font-size 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    position: absolute;
    top: 0;
}

/* Other classes */

.broad svg {
    stroke-width: 3;
}

/* Buttons borders */

button.bg-white {
    border-color: var(--color-button-border) !important;
}

button.bg-primary {
    border-color: var(--color-button-border-primary) !important;
}

button.bg-black {
    border-color: var(--color-button-border) !important;
}
