a.ant-typography:hover {
    text-decoration: underline;
}

a.ant-typography:focus {
    text-decoration: underline;
}

.ant-layout-sider {
    background: black !important;
    transition: none !important;
    position: fixed !important;
}
